.alq1{
    height: 200px;
    padding-left: 20px;
    border-radius: 20px;
}
.alq2{
    height: 180px;
    padding-left: 20px;
    border-radius: 20px;
}
.alq3{
    height: 250px;
    padding-left: 20px;
    border-radius: 20px;
}
.alq4{
    height: 250px;
    padding-left: 20px;
    border-radius: 20px;
}
.alq5{
    height: 200px;
    padding-left: 20px;
    border-radius: 20px;
}
.alq6{
    height: 200px;
    padding-left: 20px;
    border-radius: 20px;
}
.alquileres{
    background-image: url(../img/fondopages.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: repeat(4,300px);
    padding-left:40px;
    padding-right: 40px;
    gap: 40px;
    padding-top: 200px;
}