 @mixin bordes-distancia{
    padding-left: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
 }


.alq1{
    height: 200px;
    @include bordes-distancia;
}
.alq2{
    height: 180px;
    @include bordes-distancia;
}
.alq3{
    height: 250px;
    @include bordes-distancia;
}
.alq4{
    height: 250px;
    @include bordes-distancia;
}
.alq5{
    height: 200px;
    @include bordes-distancia;
}
.alq6{
    height: 200px;
    @include bordes-distancia;
}
.alquileres{
    background-image: url(../img/fondopages.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: repeat(4,300px);
    padding-left:40px;
    padding-right: 40px;
    gap: 40px;
    padding-top: 200px;
}
$fondo: cualquiercosa;

@if $fondo == navidad{
    .alquileres{
        background-image: url(../img/fondonavidad.jpg);
    }
    
}
@else if $fondo == descuento{
    .alquileres{
        background-image: url(../img/fondodescuento.jpg);
    }
}