.principal{
    color: map-get($colores, color-letra);
    text-decoration: none;
}

.indfin{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
    background-color:map-get($colores, color-barra-menu);
    padding-left: 20px;
}
.cajamedio{
    height: 80vh;
    width: 100%;
    background-image: url(../img/imagenmedio.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.nos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.don{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sig{
    display: flex;
    flex-direction: column;
    align-items: center;
}
$fondo:cualquiercosa;

@if $fondo == navidad{
    .cajamedio{
        background-image: url(../img/fondonavidad.jpg);
    }
    
}
