@mixin distancia{
    padding-left: 20px;
    border-radius: 10px;
}

.casa1{
    @include distancia;
    height: 250px;
    
}
.casa2{
    height: 250px;
    @include distancia;
}
.casa3{
        height: 190px;
        padding-top: 50px;
        @include distancia;
}
.casa4{
    height: 180px;
    padding-top: 30px;
    @include distancia;
}
.casa5{
    height: 180px;
    padding-top: 20px;
    @include distancia;
}
.casa6{
    height: 180px;
    padding-top: 30px;
    
}
.venta{
    background-image: url(../img/fondopages.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: repeat(3,300px);
    align-items: center;
    padding-left:40px;
    padding-right: 40px;
    gap: 40px;
    padding-top: 200px;
    padding-bottom: 20px;
    
}

$fondo:cualquiercosa;

@if $fondo == navidad{
    .venta{
        background-image: url(../img/fondonavidad.jpg);
    }
    
}
@else if $fondo == descuento{
    .venta{
        background-image: url(../img/fondodescuento.jpg);
    }
}